body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'arial', sans-serif;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}